{% extends 'base.html' %}

{% block title %}  {% endblock %}

{% block content %}

{% include 'menus.html' %}
<div  id="content" name="content">
    <div class="">
    <form method="post">
    {% csrf_token %}
        <div>
            <!--here start login details-->
            <div>
            <table border="0" width="100%" class="topnav">
                <tr>
                    <td width="90%">&nbsp; User <b>{{username}}</b> is logged in successfully </td>
                    <td align="right"><!--<input type="submit" value="Logout">-->
                    <a href="{% url 'logout' %}">Logout</a> </td>
                </tr>
            </table>
            </div><br>
            <!-- start form for amounts detail -->
            <div class="main">
                <div class="topline">&nbsp;&nbsp;Student List</div><br>

            <table border="1" width="100%">
                <!--<tr><th>Day:</th><td><input type="text" name="day" value="12/23/2008" required><td></tr>-->
                <tr class="list_item">
                    <td width="5%" align="center"><b>S.No</b> </td>
                    <td width="20%" align="center"><b>Joined Date</b> </td>
                    <td width="20%" align="center"><b>Username</b></td>
                    <td width="20%" align="center"><b>Name</b></td>
                </tr>
                {% if userdata %}
                    {% for userdata in userdata %}
                        <tr>
                            <td width="5%">{{forloop.counter}} </td>
                            <td width="20%">{{userdata.date_joined}} </td>
                            <td width="20%" >{{userdata.username}} </td>
                            <td width="20%"> {{userdata.first_name}} {{userdata.last_name}}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5"> No data</td>
                </tr>
                {% endif %}

            </table>
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock %}